{% extends 'app/base.html' %}
{% block body_block %}

<div class="container" style="background-color: #575452;font-family: Noto Sans;color: white;">
    <div class="card">
      <div class="card-img-overlay">
        <h1 style="font-size: 3em;" class="card-title"><b style="text-decoration: underline;">Issue</b>  :  {{post.issue}}</h1><br><br>
        <h5 style="font-size: 3em;" class="card-title"><b style="text-decoration: underline;">Name</b>  :  {{post.name}}</h5>
        <h5 style="font-size: 3em;" class="card-title"><b style="text-decoration: underline;">Roll No</b>  :  {{post.roll}}</h5>
        <h5 style="font-size: 3em;" class="card-title"><b style="text-decoration: underline;">Phone No</b>  :  {{post.phone}}</h5>
        <h5 style="font-size: 3em;" class="card-title"><b style="text-decoration: underline;">Hall of Residence</b>  :  {{post.hall}}</h5>
        <h5 style="font-size: 3em;" class="card-title"><b style="text-decoration: underline;">Room No</b>  :  {{post.room}}</h5>
        <p style="font-size: 3em;"  class="card-text"><b style="text-decoration: underline;">Description</b style="text-decoration: underline;">  : <br>{{post.description}}</p style="font-size: 5em;">
        <br><br>
        <p style="font-size: 3em;"  class="card-text"><b style="text-decoration: underline;">Date Created</b style="text-decoration: underline;">  :  {{post.create_date}}</p style="font-size: 5em;">
        <br><br>
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-primary">Remove</a>
      </div>
    </div>
  </div>

{% endblock %}